/**
 * Cart block
 */
/*
#block-views-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: url("images/picto_cart.png");
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  background-color: #2698F2;
}
*/
#block-views-shopping-cart-block .content .cart-image {
  display: inline-block;
  height: 22px;
  width: 35px;
  background-image: url("images/picto_cart.png");
}

/**
* Checkout progress
*/
ul.inline.commerce-checkout-progress li {
  display: block;
  float: left;
}

ul.inline.commerce-checkout-progress,
ol.inline.commerce-checkout-progress {
  margin-bottom: 0;
  margin-left: 10px;
}

ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  list-style:none;
  background-color: #efefef;
  color: #898A8C;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0px 10px 0;
  padding: 15px 15px 15px 35px;
  /* LTR */
  position: relative;
  width: auto;
}

ul.inline.commerce-checkout-progress li:after,
ol.inline.commerce-checkout-progress li:after {
  background: transparent url("images/bg_checkout_progress.png") right center no-repeat;
  /* LTR */
  content: " ";
  font-size: 0;
  display: block;
  float: right;
  /* LTR */
  position: absolute;
  top: 0;
  right: -25px;
  /* LTR */
  height: 50px;
  width: 25px;
  z-index: 2;
}

ul.inline.commerce-checkout-progress li.last:after,
ol.inline.commerce-checkout-progress li.last:after {
  background: #efefef url("images/bg_checkout_progress_last.png") right center no-repeat;
  /* LTR */
}

ul.inline.commerce-checkout-progress li.active, ul.inline.commerce-checkout-progress li.last.active,
ol.inline.commerce-checkout-progress li.active,
ol.inline.commerce-checkout-progress li.last.active {
  background-color: #3aa1f3;
  color: #ffffff;
}

ul.inline.commerce-checkout-progress li.active:after, ul.inline.commerce-checkout-progress li.last.active:after,
ol.inline.commerce-checkout-progress li.active:after,
ol.inline.commerce-checkout-progress li.last.active:after {
  background: transparent url("images/bg_checkout_progress_active.png") right center no-repeat;
  /* LTR */
}

ul.inline.commerce-checkout-progress li.previous, ul.inline.commerce-checkout-progress li.visited,
ol.inline.commerce-checkout-progress li.previous,
ol.inline.commerce-checkout-progress li.visited {
  color: #3aae3f;
}

ul.inline.commerce-checkout-progress li.previous a, ul.inline.commerce-checkout-progress li.visited a,
ol.inline.commerce-checkout-progress li.previous a,
ol.inline.commerce-checkout-progress li.visited a {
  color: #3aae3f;
}

ul.inline.commerce-checkout-progress li a,
ol.inline.commerce-checkout-progress li a {
  font-size: 16px;
  font-weight: 700;
}
