/**
 * Cart block
 */
/*
#block-views-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: url("images/picto_cart.png");
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  background-color: #2698F2;
}
*/